{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit page
{% endblock %}

{% block body %}
    <h1>Edit Page</h1>
    
    <form action="{% url "encyclopedia:save_edit" %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label>{{ title }}:</label>
            <br>
            <input type="hidden" name="title" value="{{ title }}">
            <textarea name="content" class="form-control" rows="3" placeholder="Write a new content">{{ content }}</textarea>
            <br>
            <input type="submit" value="Submit Edited Content" class="btn btn-primary">
        </div>
    </form>
    
{% endblock %}